<p>lista works!</p>

<div>
    <table>
        <th>
            Numero predial nuevo
        </th>
        <th>
            Numero predial antiguo
        </th>
        <th>
            codigo homologado
        </th>
        <tr *ngFor="let item of lista">
            <td> 
                {{item.numeroPredialNuevo}}
            </td>
            <td> 
                {{item.numeroPredialAntiguo}}
            </td>
            <td> 
                {{item.codigoHomologado}}
            </td>
        </tr>
    </table>
</div>
